<?xml version="1.0"?>
<launch>

  <arg name="limited" default="false"/>
  <arg name="paused" default="true"/>
  <arg name="gui" default="true"/>
 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="world_name" default="$(find ur5_gripper_gazebo)/world/pnp.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
         <arg name="verbose" value="true" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_gripper_description)/urdf/ur5_gripper.urdf.xacro'" />

  <rosparam file="$(find ur_gazebo)/config/ur5_controllers.yaml" command="load"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="120" />
    <param name="tf_prefix" value="" />
  </node>

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    args="
      -urdf
      -param robot_description
      -model robot
      -z 0.92
      -J robot::elbow_joint 1.5
      -J robot::shoulder_lift_joint -0.98
      -J robot::shoulder_pan_joint -0.74
      -J robot::wrist_1_joint -2.06
      -J robot::wrist_2_joint -1.63
      -J robot::wrist_3_joint 0.75
      -J robot::gripper_finger_joint 0
      -unpause"
    output="screen" respawn="false" />
>

      <rosparam file="$(find ur5_gripper_description)/config/gripper_controller.yaml" command="load"/>
      <!-- <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper" output="screen"/>-->
      <!--  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller"  respawn="false" output="screen"/> -->

  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner"
    args="joint_state_controller pos_joint_traj_controller gripper" output="screen" respawn="false" />
 <!--  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
    args="stopped joint_group_pos_controller" output="screen" respawn="false" /> -->

</launch>

